/*
  선택적인 화면 처리하는 방법
  왜 xxx.module.css를 쓰는가?

  <h2 className={styles.title}>XXXX</h2>
  실제로 빌드가 되면 - 배포버전으로 만들면
  모듈을 사용하면 컴포넌트 전용 이름으로 변경해줌
  <h2 class="title_3MF2a">XXXX</h2>

  추천
  공통 : 일반 CSS, 컴포넌트 내부 스타일 : module.css
*/

.button {
    width: 100%;
    height: 100%; /*  container에서 align-items:center준것 때문에 꼭 있어야 꽉찬버튼이 보임 */
    /* background-color: makerLightGrey; */
    font-weight: bold;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 0.8rem;
  }
  
  .button.grey {
    background-color: #e8e7e6;
  }
  
  .button.pink {
    background-color: #ffeae8;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .loading {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 3px solid #e8e7e6;
    border-top: 3px solid pink;
    animation: spin 2s linear infinite; /* 2초동안 빙글빙글 도는 애니메이션 효과*/
  }
  /*
    spin이라는 애니메이션 하는데 처음 시작할 때와 마지막에 끝날 때를 정의할 수 있고
    중간지점 여러분이 원하는 %를 정의해서 쓸 수 가 있습니다 
  */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }